/* style.css */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: rgb(31, 49, 0)
    
}

.title {
    color: rgba(127, 255, 138, 0.6);
}

.idea {
    margin-bottom: 20px;
}

.header {
    font-size: 1.5em;
    color: rgba(252, 255, 203, 0.5);
    
}
small{
    margin: 10px;
    color: green;
}

#content-container{
    width: 100%;
}


.idea{
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.03);
}

.content {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
}
